<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" rel="stylesheet">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
</head>
<body>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <a class="btn btn-primary btn-sm mb-3" th:href="@{/employees/showFormForAdd}">Add Employee</a>
    <a class="btn btn-secondary btn-sm mb-3" th:href="@{/}">Home</a>

    <table class="table table-bordered table-striped text-center align-middle">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.fastName}"/>
            <td th:text="${employee.lastName}"/>
            <td th:text="${employee.email}"/>
            <td>
                <!-- Update Button -->
                <a class="btn btn-info btn-sm"
                   th:href="@{/employees/showFormForUpdate(employeeId=${employee.id})}">
                    Update
                </a>

                <!-- Delete Button -->
                <a class="btn btn-danger btn-sm ms-2"
                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false"
                   th:href="@{/employees/delete(employeeId=${employee.id})}">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>